# 英雄联盟Top10数据分析报告

## 数据汇总

* 前十登场率平均 8.9
* 前十胜率 55.4
* 英雄类型数 5

## 登场率最高

* 评分最高的电影：肖申克的救赎 9.7分
* 评分最多的电影：肖申克的救赎 2996612人
* 最受欢迎的导演：宫崎骏 克里斯托弗·诺兰 4部
* 片长最长的电影：乱世佳人 233分钟



## 上榜国家前五名

1. 美国 61部
2. 中国 24部
3. 英国 16部
4. 日本 8部
5. 法国 7部

## 上榜类型前五名

1. 喜剧 21部
2. 冒险 21部
3. 爱情 20部
4. 奇幻 19部
5. 犯罪 16部

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("movie_top100.csv", encoding="GB18030") # DataFrame
df.head(3)

,标题,导演,评分,人数,年份,片长,类型,国家,语言,简介,IMDB,豆瓣id
0,肖申克的救赎,弗兰克·德拉邦特,9.7,2996612,1994,142,犯罪 剧情,美国,英语,希望让人自由。,tt0111161,1292052
1,霸王别姬,陈凯歌,9.6,2214093,1993,171,剧情 爱情 同性,中国大陆 中国香港,汉语普通话,风华绝代。,tt0106332,1291546
2,阿甘正传,罗伯特·泽米吉斯,9.5,2232840,1994,142,剧情 爱情,美国,英语,一部美国近现代史。,tt0109830,1292720

In [3]:
df = df.iloc[:, :-3]
df.tail()

,标题,导演,评分,人数,年份,片长,类型,国家,语言
95,七宗罪,大卫·芬奇,8.8,970941,1995,127,剧情 犯罪 悬疑 惊悚,美国,英语
96,加勒比海盗,戈尔·维宾斯基,8.8,889915,2003,143,动作 冒险 奇幻,美国,英语
97,一一,杨德昌,9.1,418113,2000,173,剧情 爱情 家庭,中国台湾 日本,汉语普通话 闽南语 英语 日语
98,狩猎,托马斯·温特伯格,9.1,410743,2012,115,剧情,丹麦 瑞典,丹麦语 英语 波兰语
99,唐伯虎点秋香,李力持,8.7,1119632,1993,102,喜剧 爱情 古装,中国香港,粤语

In [4]:
df.iloc[1]

标题         霸王别姬
导演          陈凯歌
评分          9.6
人数      2214093
年份         1993
片长          171
类型     剧情 爱情 同性
国家    中国大陆 中国香港
语言        汉语普通话
Name: 1, dtype: object

In [5]:
df.loc[1]

标题         霸王别姬
导演          陈凯歌
评分          9.6
人数      2214093
年份         1993
片长          171
类型     剧情 爱情 同性
国家    中国大陆 中国香港
语言        汉语普通话
Name: 1, dtype: object

In [6]:
df.index

RangeIndex(start=0, stop=100, step=1)

In [7]:
df.index = np.arange(1, 101)
df.index.name = "排名"
df.head()

,标题,导演,评分,人数,年份,片长,类型,国家,语言
排名,,,,,,,,,
1,肖申克的救赎,弗兰克·德拉邦特,9.7,2996612,1994,142,犯罪 剧情,美国,英语
2,霸王别姬,陈凯歌,9.6,2214093,1993,171,剧情 爱情 同性,中国大陆 中国香港,汉语普通话
3,阿甘正传,罗伯特·泽米吉斯,9.5,2232840,1994,142,剧情 爱情,美国,英语
4,泰坦尼克号,詹姆斯·卡梅隆,9.5,2270268,1997,194,剧情 爱情 灾难,美国 墨西哥,英语 意大利语 德语 俄语
5,千与千寻,宫崎骏,9.4,2315808,2001,125,剧情 动画 奇幻,日本,日语

In [8]:
df.iloc[1, 0]

'霸王别姬'

In [9]:
df.loc[1, "标题"]

'肖申克的救赎'

In [10]:
df["导演"]

排名
1      弗兰克·德拉邦特
2           陈凯歌
3      罗伯特·泽米吉斯
4       詹姆斯·卡梅隆
5           宫崎骏
         ...
96        大卫·芬奇
97      戈尔·维宾斯基
98          杨德昌
99     托马斯·温特伯格
100         李力持
Name: 导演, Length: 100, dtype: object

In [11]:
type(df["导演"])

pandas.core.series.Series

In [12]:
df["评分"].max()

9.7

In [13]:
df[df["评分"] == df["评分"].max()]

        标题        导演   评分       人数    年份   片长     类型  国家  语言
排名
1   肖申克的救赎  弗兰克·德拉邦特  9.7  2996612  1994  142  犯罪 剧情  美国  英语

In [14]:
df[df["人数"] == df["人数"].max()]

        标题        导演   评分       人数    年份   片长     类型  国家  语言
排名
1   肖申克的救赎  弗兰克·德拉邦特  9.7  2996612  1994  142  犯罪 剧情  美国  英语

In [15]:
df[df["片长"] == df["片长"].max()]

      标题       导演   评分      人数    年份   片长           类型  国家  语言
排名
34  乱世佳人  维克多·弗莱明  9.3  716038  1939  233  剧情 历史 爱情 战争  美国  英语

In [16]:
df["导演"].value_counts()

导演
宫崎骏         4
克里斯托弗·诺兰    4
彼得·杰克逊      3
朱塞佩·托纳多雷    3
大卫·芬奇       3
           ..
陈凯歌         1
马丁·布莱斯      1
彼得·法雷里      1
威廉·惠勒       1
李力持         1
Name: count, Length: 78, dtype: int64

In [17]:
type(df["导演"].value_counts())

pandas.core.series.Series

In [18]:
director_counts = df["导演"].value_counts()
max_count = director_counts.max()
director_counts[director_counts == max_count].index

Index(['宫崎骏', '克里斯托弗·诺兰'], dtype='object', name='导演')

In [19]:
directors = director_counts[director_counts == max_count].index
df[df["导演"].isin(directors)]

,标题,导演,评分,人数,年份,片长,类型,国家,语言
排名,,,,,,,,,
5,千与千寻,宫崎骏,9.4,2315808,2001,125,剧情 动画 奇幻,日本,日语
8,星际穿越,克里斯托弗·诺兰,9.4,1929994,2014,169,剧情 科幻 冒险,美国 英国 加拿大,英语
9,盗梦空间,克里斯托弗·诺兰,9.4,2136107,2010,148,剧情 科幻 悬疑 冒险,美国 英国,英语 日语 法语
27,龙猫,宫崎骏,9.2,1304971,1988,86,动画 奇幻 冒险,日本,日语
31,蝙蝠侠：黑暗骑士,克里斯托弗·诺兰,9.2,1098748,2008,152,剧情 动作 科幻 犯罪 惊悚,美国 英国,英语 汉语普通话
38,哈尔的移动城堡,宫崎骏,9.1,1066497,2004,119,爱情 动画 奇幻 冒险,日本,日语
43,天空之城,宫崎骏,9.2,911598,1986,125,动画 奇幻 冒险,日本,日语
83,致命魔术,克里斯托弗·诺兰,8.9,889991,2006,130,剧情 悬疑 惊悚,英国 美国,英语

In [20]:
df["年份"].value_counts().head(5)

年份
1994    7
1997    5
2009    5
2004    5
2002    5
Name: count, dtype: int64

In [21]:
df["国家"]

排名
1             美国
2      中国大陆 中国香港
3             美国
4         美国 墨西哥
5             日本
         ...
96            美国
97            美国
98       中国台湾 日本
99         丹麦 瑞典
100         中国香港
Name: 国家, Length: 100, dtype: object

In [22]:
df["国家"].str.split().explode().value_counts().to_dict()

{'美国': 61,
 '英国': 16,
 '中国大陆': 11,
 '中国香港': 10,
 '日本': 8,
 '法国': 7,
 '意大利': 6,
 '韩国': 5,
 '德国': 5,
 '加拿大': 4,
 '新西兰': 3,
 '中国台湾': 3,
 '印度': 2,
 '瑞士': 2,
 '墨西哥': 1,
 '黎巴嫩': 1,
 '塞浦路斯': 1,
 '卡塔尔': 1,
 '波兰': 1,
 '西班牙': 1,
 '伊朗': 1,
 '丹麦': 1,
 '瑞典': 1}

In [23]:
df["类型"].str.split().explode().value_counts().to_dict()

{'剧情': 80,
 '喜剧': 21,
 '冒险': 21,
 '爱情': 20,
 '奇幻': 19,
 '犯罪': 16,
 '惊悚': 12,
 '悬疑': 12,
 '动作': 12,
 '动画': 11,
 '科幻': 9,
 '传记': 8,
 '家庭': 7,
 '战争': 7,
 '音乐': 5,
 '历史': 4,
 '古装': 4,
 '歌舞': 3,
 '同性': 2,
 '灾难': 1,
 '西部': 1,
 '运动': 1,
 '情色': 1,
 '儿童': 1,
 '纪录片': 1}

In [24]:
def dict_to_echarts_data(d: dict) -> list:
    data = []
    for key, value in d.items():
        data.append({"name": key, "value": value})
    return data

genre_dict = df["类型"].str.split().explode().value_counts().to_dict()
dict_to_echarts_data(genre_dict)

[{'name': '剧情', 'value': 80},
 {'name': '喜剧', 'value': 21},
 {'name': '冒险', 'value': 21},
 {'name': '爱情', 'value': 20},
 {'name': '奇幻', 'value': 19},
 {'name': '犯罪', 'value': 16},
 {'name': '惊悚', 'value': 12},
 {'name': '悬疑', 'value': 12},
 {'name': '动作', 'value': 12},
 {'name': '动画', 'value': 11},
 {'name': '科幻', 'value': 9},
 {'name': '传记', 'value': 8},
 {'name': '家庭', 'value': 7},
 {'name': '战争', 'value': 7},
 {'name': '音乐', 'value': 5},
 {'name': '历史', 'value': 4},
 {'name': '古装', 'value': 4},
 {'name': '歌舞', 'value': 3},
 {'name': '同性', 'value': 2},
 {'name': '灾难', 'value': 1},
 {'name': '西部', 'value': 1},
 {'name': '运动', 'value': 1},
 {'name': '情色', 'value': 1},
 {'name': '儿童', 'value': 1},
 {'name': '纪录片', 'value': 1}]

In [25]:
country_dict = df["国家"].str.split().explode().value_counts().to_dict()
country_dict["中国"] = 0
for cn_name in ("中国大陆", "中国香港", "中国台湾"):
    if cn_name in country_dict:
        country_dict["中国"] += country_dict[cn_name]
        del country_dict[cn_name] 

sorted_contries = sorted(country_dict.items(), key=lambda x: x[1], reverse=True)
sorted_contries

[('美国', 61),
 ('中国', 24),
 ('英国', 16),
 ('日本', 8),
 ('法国', 7),
 ('意大利', 6),
 ('韩国', 5),
 ('德国', 5),
 ('加拿大', 4),
 ('新西兰', 3),
 ('印度', 2),
 ('瑞士', 2),
 ('墨西哥', 1),
 ('黎巴嫩', 1),
 ('塞浦路斯', 1),
 ('卡塔尔', 1),
 ('波兰', 1),
 ('西班牙', 1),
 ('伊朗', 1),
 ('丹麦', 1),
 ('瑞典', 1)]

In [26]:
[1, 2, 3] + [1]

[1, 2, 3, 1]

In [27]:
other_country_count = 0
for country_item in sorted_contries[5:]:
    other_country_count += country_item[1]

country_dict = dict(sorted_contries[:5] + [("其他", other_country_count)])
country_dict

{'美国': 61, '中国': 24, '英国': 16, '日本': 8, '法国': 7, '其他': 36}

In [28]:
dict_to_echarts_data(country_dict)

[{'name': '美国', 'value': 61},
 {'name': '中国', 'value': 24},
 {'name': '英国', 'value': 16},
 {'name': '日本', 'value': 8},
 {'name': '法国', 'value': 7},
 {'name': '其他', 'value': 36}]

In [29]:
df["评分"].mean()

9.152000000000001

In [30]:
df["人数"].sum()

110233477

In [31]:
df["类型"].str.split().explode().unique().size

25

In [38]:
df['年份'].groupby(df['年份'] // 10 * 10).count()

年份
1930     2
1950     3
1960     2
1970     3
1980     6
1990    28
2000    34
2010    22
Name: 年份, dtype: int64

In [42]:
decade_count = df['年份'].groupby(df['年份'] // 10 * 10).count()
decade_count.values

array([ 2,  3,  2,  3,  6, 28, 34, 22], dtype=int64)

In [43]:
decade_count.index

Index([1930, 1950, 1960, 1970, 1980, 1990, 2000, 2010], dtype='int64', name='年份')

In [44]:
df['年份'].min()

1936

In [50]:
year_count = {y: 0 for y in range(1936, 2025)}
for year in df['年份'].values:
    year_count[year] += 1

year_count.keys()

dict_keys([1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024])

In [48]:
year_count.values()

dict_values([1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 2, 1, 0, 1, 1, 3, 7, 4, 0, 5, 4, 3, 3, 4, 5, 4, 5, 0, 4, 0, 4, 5, 4, 4, 2, 2, 2, 1, 3, 1, 3, 0, 0, 0, 0, 0, 0])

In [53]:
print(list(year_count.keys())[-30:])

[1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

In [54]:
print(list(year_count.values())[-30:])

[4, 0, 5, 4, 3, 3, 4, 5, 4, 5, 0, 4, 0, 4, 5, 4, 4, 2, 2, 2, 1, 3, 1, 3, 0, 0, 0, 0, 0, 0]

In [58]:
df[['年份', '片长']].values

array([[1994,  142],
       [1993,  171],
       [1994,  142],
       [1997,  194],
       [2001,  125],
       [1994,  110],
       [1997,  116],
       [2014,  169],
       [2010,  148],
       [1993,  195],
       [1998,  103],
       [2009,   93],
       [1998,  165],
       [2009,  171],
       [2004,   97],
       [2008,   98],
       [2016,  109],
       [2002,  101],
       [1957,  116],
       [1995,   95],
       [2011,  125],
       [1972,  175],
       [2011,  112],
       [2006,  117],
       [2017,  105],
       [1987,  163],
       [1988,   86],
       [2010,   90],
       [1994,  132],
       [2001,  152],
       [2008,  152],
       [2003,  201],
       [2018,  117],
       [1939,  233],
       [2009,   96],
       [2013,  122],
       [1957,   96],
       [2004,  119],
       [2010,  132],
       [2018,  126],
       [2016,  161],
       [2002,  141],
       [1986,  125],
       [2000,  139],
       [2015,  111],
       [2012,  127],
       [2002,  149],
       [1995,   88],
       [2002,  180],
       [1992,  157],
       [1989,  128],
       [2018,  130],
       [1953,  118],
       [1961,  113],
       [1988,  155],
       [1999,  136],
       [2001,  179],
       [1974,  202],
       [1994,   89],
       [2013,  127],
       [1994,  124],
       [1999,  139],
       [2008,  166],
       [2001,  135],
       [2008,   94],
       [2006,  137],
       [1995,  117],
       [1998,  107],
       [2000,  108],
       [1965,  174],
       [2016,  106],
       [2009,  162],
       [2011,  130],
       [1998,  169],
       [1975,  133],
       [1997,   89],
       [1991,  118],
       [2004,  100],
       [2014,   99],
       [2010,  138],
       [2004,  113],
       [2004,  141],
       [2006,  130],
       [1997,  126],
       [2011,   98],
       [1994,  154],
       [1936,   87],
       [2009,   92],
       [1997,   96],
       [1999,   89],
       [1984,  229],
       [2003,   90],
       [2003,  132],
       [2002,  161],
       [2006,   90],
       [1995,  127],
       [2003,  143],
       [2000,  173],
       [2012,  115],
       [1993,  102]], dtype=int64)